:root {
  --first-title-color: #212121;
  --title-color-text: #757575;
  --link-color: #2196f3;
  --main-white-color: #ffffff;
}
body {
  font-family: Roboto;
  color: #757575;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
.header-conteiner {
  display: flex;
  align-items: center;
}

.footer-conteiner {
  align-items: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*----------------- Header-----------------------*/
.header {
  border-bottom: 1px solid #ececec;
}
.navigation {
  display: flex;
  align-items: center;
}
.text-web {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--link-color);
  margin: 0 auto;
}
.link-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 24px;
  padding-left: 0;
  margin: 0 auto;
}
.header-list {
  display: flex;
  padding-left: 93px;

  padding-right: 100px;
  margin: 0 auto;
}
.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-item + .header-item {
  margin-left: 50px;
}

.header-list-contact {
  display: flex;
  padding-left: 182px;
}
.header-item-contacts {
  height: 16px;
  justify-content: space-between;
  padding-left: 50px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link:hover,
.header-link:focus {
  color: var(--link-color);
}
.header-link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-color-text);
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link-contacts:hover,
.header-link-contacts:focus {
  color: var(--link-color);
}
/*--------------STUDIO-Hiro-----------------*/
.hiro-s {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image:linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url('../images/HiroS.jpg');
}

.hiro-title-s {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
  margin: 0 auto;
  padding-bottom: 30px;
}

.hiro-button-s {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--link-color);
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  cursor: pointer;
}

/*-----SDUDIO---advantages-- Приемущества----*/
.advantages {
  padding-top: 94px;
}
.advantages-list {
  display: flex;
  justify-content: center;
}
.advantages-item {
  width: calc((100% - 120px) / 4);
  margin-right: 30px;
}
.advantages-item:nth-child(4n) {
  margin-right: 0px;
}

.advantages-title {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.advantages-text {
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--title-color-text);
  padding-top: 10px;
}

/*------- SDUDIO---DO-----*/
.do {
  padding-top: 94px;
  padding-bottom: 94px;
}
.do-list {
  display: flex;
  justify-content: center;
  margin-right: -30px;
}
.do-item {
  width: calc((100% - 90px) / 3);
  margin-right: 30px;
}
.do-item:nth-child(3n) {
  
}

.do-title {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
/*--------  SDUDIO-----TEAM-----*/
.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: center;
  margin-right: -30px;
}
.team-item {
  width: calc((100% - 120px) / 4);
  margin-right: 30px;
}
.team-item:nth-child(4n) {
  
}
.team-lines {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  /* padding-top: 30px; */
  padding-bottom: 10px;
}
.team-profi {
  font-weight: normal;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color-text);
  /* padding-bottom: 30px; */
}
/*----------------portfolio hiro---------------*/
.hiro-p {
  padding-top: 94px;
  padding-bottom: 94px;
}
.btn-conteiner {
  margin-bottom: 50px;
}
.hiro-p-list {
  display: flex;
  justify-content: center;
}
.hiro-p-item {
  display: inline-block;
  margin-right: 8px;
}
.hiro-p-item:nth-child(5n) {
    margin: 0px;
}
.hiro-p-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  margin: 0 auto;
  /* min-width: 73px; */
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 38px;
}
.hiro-p-button:hover,
.hiro-p-button:focus {
  color: var(--main-white-color);
  background-color: var(--link-color);
}

/*---------------portfolio----проекты--------------------*/
.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  justify-content: center;
}
.project-items {
  width: 370px;
  width: calc((100% - 90px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.project-items:nth-child(3n) {
  
}
.project-items:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.project-lines{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  outline: 2px solid red;

}
.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  padding-bottom: 4px;
}
.project-text {
  font-weight: normal;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--title-color-text);
}

/*-----------------Footer---------------*/
.footer {
  background-color: #2f303a;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 51px;
}
.footer-logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  /* margin-left: 215px; */
  display: inline-block;
}
.web-text {
  color: var(--link-color);
}
.footer-address {
  /* margin-left: 215px; */
  padding-top: 17px;
}
.footer-item + .footer-item {
  margin-top: 9px;
}

.footer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}
.footer-link-contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link-contact:hover,
.footer-link-contact:focus {
  color: var(--link-color);
}
